.currentOveriew {
  position: fixed;
  bottom: 0rem;
  min-height: 4rem;
  width: 100%;
  background-color: rgb(2, 12, 60);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
}

.price {
  color: white;
  font-size: 18px;
  padding-left: 5px;
  font-weight: bold;
}
.priceSm {
  color: white;
  font-size: 22px;
  padding-left: 5px;
  font-weight: bold;
}

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding-left: 5px;
  border-bottom: 1px solid transparent;
}

.rgbExtra {
  background: linear-gradient(
    90deg,
    rgb(255, 0, 0),
    rgb(0, 255, 0),
    rgb(0, 0, 255)
  );
  -webkit-background-clip: text;
  color: transparent;
  /* font-size: 15px; */
  font-weight: bold;
}

.plaatFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rgbFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 15px;
}

.white {
  color: white;
  font-weight: bold;
  position: relative;
}

.nameList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.nameList span {
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priceList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.priceList span {
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achterPlaat {
  color: var(--green);
  font-weight: bold;
  font-size: 15px;
  position: relative;
}

.greenName {
  color: var(--pink);
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid var(--pink);
}
