@font-face {
  font-family: "Hanken";
  src: url("../public/Hanken.ttf") format("truetype");
}
@font-face {
  font-family: "Itim";
  src: url("../public/Itim.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/Montserrat.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../public/Roboto.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

:root {
  --hero-font: "Outfit", sans-serif;
  --pink: rgb(251, 0, 169);
  --purple: rgb(179, 0, 255);
  --green: rgb(0, 251, 0);
  --red: red;
  --blue: rgb(79, 182, 247);
  --dblue: rgb(2, 12, 60);
}
