@font-face {
  font-family: "Arial Black";
  src: url("../public/fonts/ArialBlack.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../public/fonts/ArialRoundedBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ChalkboardSE";
  src: url("../public/fonts/ChalkboardSE.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Impact";
  src: url("../public/fonts/Impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MarkerFelt";
  src: url("../public/fonts/MarkerFelt.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Start of Single Line fonts */

@font-face {
  font-family: "AA13Regular";
  src: url("../public/fonts/AA13LEDsGoNeonRegular.ttf") format("truetype");
  src: url("../public/fonts/AA13LEDsGoNeonRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/AA13Neon-Regular.otf") format("opentype"),
    url("../public/fonts/AA13LEDsGoNeonRegular.woff") format("woff"),
    url("../public/fonts/AA13LEDsGoNeonRegular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AA14Regular";
  src: url("../public/fonts/AA14Neon-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AA15Regular";
  src: url("../public/fonts/AA15Neon-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Art Deco";
  src: url("../public/fonts/ArtDeco.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bubble Wrap";
  src: url("../public/fonts/BubbleWrap.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Magnolia";
  src: url("../public/fonts/Magnolia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Melody";
  src: url("../public/fonts/Melody.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Picnic Basket";
  src: url("../public/fonts/PicnicBasket.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Architect Regular";
  src: url("../public/fonts/ArchitectRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Peaches";
  src: url("../public/fonts/Peaches.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  background-color: rgb(24, 0, 24);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

:root {
  --hero-font: "Outfit", sans-serif;
  --pink: rgb(251, 0, 169);
  --purple: rgb(179, 0, 255);
  --green: rgb(0, 251, 0);
  --red: red;
  --blue: rgb(79, 182, 247);
  --dblue: rgb(2, 12, 60);
}
/* For modern browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Dark color for the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background: #b7b7b7; /* Dark color for the scrollbar track */
  border-radius: 4px; /* Rounded corners for the scrollbar track */
  margin: 2px; /* Optional: Add space between the track and the content */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow effect for the track */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #333 #000000; /* Thumb color and track color */
}
